
.CountryCard {
    margin: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 5px 5px 10px var(--primary-color);
    font-size: var(--font-small);
  }
  