.Home {
    color: var(--secondary-color);
    text-align: left;
    padding: 30px;	
    margin-top: 30px;
}

  
  .HomePage-description {
    
    font-size: var(--font-small);
    margin-bottom: 20px;
  }
  
  .HomePage-image {
    max-width: 800px;
    max-height: 200px;

    margin-bottom: 20px;
  }